.modal-overlay {
  position: fixed;
  background-color: red;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.modal h2 {
  margin-bottom: 1rem;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form input,
.modal-form textarea {
  padding: 10px;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.modal-buttons {
  display: flex;
  /* justify-content: space-between; */
}

.modal-buttons button {
  /* padding: 10px 20px; */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-buttons .cancel {
  background-color: #ccc;
}

.modal-buttons button[type="submit"] {
  background-color: #007bff;
  color: white;
}
.addSysButton,
.cancelButton {
  width: 90px;
  height: 35px;
  padding: 10px;
  margin: 5px;
}
