.users-number-card {
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #eee;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 22%;
  height: 22%;
  font-size: 55px;
}
