.users-number-card {
  background-color: #f9f9f9;
  border: 1px solid #eee;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 22%;
  height: 120px;
  font-size: 15px;
}
.up-side {
  height: 70%;
  border-radius: 5px 5px 0 0;
}
.down-side {
  height: 30%;
  background-color: #f48836;
  border-radius: 0 0 5px 5px; /*  */
}
