.addInstrumentButton {
  background-color: #dbebdb; /* Green */
  border: none;
  color: rgb(219, 26, 26);
  padding: -10px -10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0 0;
  cursor: pointer;
  border-radius: 5px;
  width: 244px;
  height: 40px;
}
