.instruments-container {
  padding: 0px 15px 0px 0px;
}

.instruments-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  justify-content: flex-start;
  /* justify-content: center; */
  padding: 14px;
}

/*
.instrument-card:hover {

  background-color: rgb(230, 221, 221);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
} */
/* Instrument.css */

.instrument-card {
  flex: 1 1 250px;
  min-width: 103.5%;
  box-sizing: border-box;

  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 10px;
  background: #99e2ff;
  background: linear-gradient(
    90deg,
    rgba(153, 226, 255, 1) 0%,
    rgba(219, 255, 234, 1) 65%,
    rgba(233, 245, 241, 1) 100%
  );

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  z-index: 1000;
}
.instrument-card:hover {
  transform: translateY(-5px);
}
.title {
  font-size: 1rem;
  font-weight: 600;
}

.icon {
  font-size: 3rem;
  color: transparent;
  background: linear-gradient(to right, var(--grad));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* .content {
  font-size: 0.7rem;
  margin-top: 44px;
} */

.instrument-card::after {
  content: "";
  height: 2px;
  background-image: linear-gradient(90deg, var(--grad));
  margin-top: 10px;
}

/* .card_button {
  padding: 16px;
  margin: 3px;
  width: auto;
}

.div-button {
} */

.inside-instrument {
  box-sizing: border-box;

  display: flex;
  gap: 20px;
  margin-right: auto;
  max-width: calc(100% - 100px); /* Prevents too much gap */
}
.instrument-buttons {
  width: 150px;
  display: flex;
  justify-content: flex-end;
  gap: 3px; /* Optional: adds space between buttons */
  margin: auto;
  /* padding-right: 10px; */
  margin-right: 10px;
}
.instrument-buttons button {
  height: 30px;
}
.instrument {
  display: flex;
  /* gap: 60%; */
}
.inside-instrument > * {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.inside-instrument > * {
  display: flexbox;
  /* background-color: #ccc; */
  width: 200px;
  font-size: 13px;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1280px) {
  .side-nav-container {
  }
  .inside-instrument {
    box-sizing: border-box;

    display: flex;
    gap: 20px;
    margin-right: auto;
    max-width: calc(100% - 200px); /* Prevents too much gap */
  }
}
