* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.wrapper p {
  font-size: 0.85rem;
  margin-top: 1rem;
}

.form {
  background-color: #ffffff;
  opacity: 90%;
  padding: 1.5rem;
  -ms-flex-preferred-size: 100vw;
  flex-basis: 100vw;
}

.form .heading {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.or {
  margin: 1rem 0;
}

.form label {
  display: block;
  margin: 1.25rem 0 1rem 0;
}

.form input {
  height: 40px;
  width: 100%;
  padding: 15px;
  background-color: #f1f9ff;
  border: 2px solid #bce0fd;
  border-radius: 8px;
}

.form button {
  height: 40px;
  width: 100%;
  background-color: #258de6;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
  display: block;
  margin: 0 auto;
  font-weight: bold;
  margin-top: 1.5rem;
  border-radius: 8px;
}

@media (min-width: 542px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 1.5rem;
    max-width: 1100px;
  }
  .form {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
  .form input {
    width: 250px;
  }
  .illustration img {
    max-width: 80%;
    height: auto;
  }
}

@media (max-width: 680px) {
  .illustration {
    display: none;
  }
}

.signUp .illustration {
  order: 2;
  justify-self: flex-end;
  margin-left: 2rem;
}

button:hover {
  filter: brightness(120%);
  background-color: #102430 !important;
}

button:active {
  transform: scale(0.98);
}

.Connect-button {
  background-color: #0a171f !important;
  color: white;
}
.back {
  background-image: url("/public/background_IMGs/backpic2.jpg"); /* correct path */
  /* filter: sepia(10%); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh; /* covers entire viewport */
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  /* change img color */
  /* filter: brightness(100%); */
  filter: grayscale(0%);
}
