* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif;
}

.wrappersignUp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.wrappersignUp p {
  font-size: 0.85rem;
  margin-top: 1rem;
}

.formsignUp {
  padding: 1.5rem;
  -ms-flex-preferred-size: 100vw;
  flex-basis: 100vw;
  background-color: #ffffff;
  opacity: 90%;
}

.formsignUp .headingsignUp {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.or {
  margin: 1rem 0;
}

/* .form label {
  display: block;
  margin: 1.25rem 0 1rem 0;
} */

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 100%;
  margin-top: 20px;
}
.formsignUp input {
  height: 40px;
  width: 100%;
  padding: 15px;
  background-color: #f1f9ff;
  border: 2px solid #bce0fd;
  border-radius: 8px;
}

.formsignUp button {
  height: 40px;
  width: 100%;
  background-color: #258de6;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
  display: block;
  margin: 0 auto;
  font-weight: bold;
  margin-top: 1.5rem;
  border-radius: 8px;
}

@media (min-width: 542px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .wrappersignUp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 1.5rem;
    max-width: 1100px;
  }
  .form {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
  /* .form input {
    width: 250px;
  } */
}

button:hover {
  filter: brightness(95%);
}

button:active {
  transform: scale(0.98);
}
button {
  background-color: #0a171f !important;
}

.form-gridsignUp {
  display: flex;
  flex-direction: column;
  gap: 0px;
  max-width: 600px;
  margin: auto;
}
.form-rowsignUp {
  display: flex;
  /* gap: 20px; */
}
.form-groupsignUp {
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: center;
  /* flex: 1; */
  flex: 1 1 0;
  padding: 0 10px;
  width: 100%;
}
label {
  margin-bottom: 6px;
  font-weight: 500;
  padding-right: 10px;
}
.form label {
  display: block;
  margin: 1.25rem 0 1rem 0;
}
select {
  height: 40px;
  width: 100%;
  /* padding: 15px; */
  background-color: #f1f9ff;
  border: 2px solid #bce0fd;
  border-radius: 8px;
  padding: 5px;
  border: 1px solid #ccc;
}

@media (min-width: 1382px) {
  .form-gridsignUp {
    margin: -10px;
    height: 530px;
    width: 620px;
  }
  .input {
    margin-top: 0px;
    margin-bottom: 0px;
    margin: 0 0 0 0;
  }
  .wrappersignUp {
    height: 100vh;
    margin-top: 2rem;
  }
}
@media (min-width: 1100px) {
  .form-gridsignUp {
    margin: -8px;
    height: 430px;
    width: 620px;
    padding: 0px;
  }
  .input {
    margin-top: 10px;
    margin-bottom: 10px;
    /* margin: 0 0 0 0; */
  }
  .wrappersignUp {
    height: 100vh;
    margin-top: -1rem;
  }
  .To_login {
    margin-top: 14px;
    padding: 0;
  }
}
