/* generate css for SubSystemComponent  */
.subsystem-container {
  background-color: #007bff;
  border: 1px solid #ccc;
  width: 15%;
  height: 380px;
  border-radius: 8px;
  padding: 16px;
  margin: 16px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}
.subsystem-details {
  background-color: #00ff88;
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 0;
}
.subsystem-header {
  background-color: #ff8800;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}
.subsystem-actions {
  background-color: #c8ff00;
  display: flex;
  justify-content: space-between;
}

button {
  cursor: pointer;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  transition: background-color 0.3s;
  &:hover {
    background-color: #0056b3;
  }
  width: 32%;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
}
