/* generate css for SubSystemComponent */
.subsystem-container {
  border: 1px solid #ccc;
  width: 15%;
  height: 380px;
  border-radius: 8px;
  padding: 16px;
  margin: 16px 0;
  background-color: #f9f9f9;
}
.subsystem-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}
.subsystem-actions {
  display: flex;
  justify-content: space-between;
}
.subsystem-actions button {
  margin-left: 8px;
}
.subsystem-details {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
}
button {
  cursor: pointer;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  transition: background-color 0.3s;
  &:hover {
    background-color: #0056b3;
  }
  width: 32%;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
}
