.card-container {
  background-image: url("/public/background_IMGs/Hailuo_Video.mp4");

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 29px;
}
.add_buttom {
  position: absolute;
  right: 10px;
  margin-bottom: 200px;
  font-size: 30px;
  padding: px;
  border-radius: 50px;

  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}
.back {
  background-color: yellow;
  background-clip: u;
}
.bg-video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  filter: brightness(0.75);
  will-change: transform; /* hint to GPU */
}
.overlay {
  position: relative;
  z-index: 1;
  padding: 20px;
}
