.card-container {
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
  /* gap: 29px; */
}
.add_buttom {
  position: absolute;
  right: 10px;
  margin-bottom: 200px;
  font-size: 30px;
  padding: px;
  border-radius: 50px;

  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}
.back {
  position: relative;
  width: 100%;
  min-height: 100vh; /* make sure it has height */
  overflow: hidden; /* hide overflow so video doesn't scroll */
}

#background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0; /* sits behind content */
}

.overlay-content,
.card-container {
  position: relative;
  z-index: 41; /* make sure content appears above the video */
  color: white;
}
