.add-sheet-button {
  background: none;
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;

  border-radius: 50%;
  position: relative;
  right: auto;
  left: 95%;
  margin-bottom: -25px;
  margin-top: -5px;
  z-index: 1000;
}
.instrument-name-title {
  font-size: 1.5em;
  margin: 5px 0px 20px 0px;
}
