.add-sheet-button {
  background: none;
  border: none;
  cursor: pointer;

  border-radius: 50%;
  position: relative;
  right: auto;
  left: 80%;
  /* margin-bottom: 20px; */
  z-index: 100;
}
.instrument-name-title {
  font-size: 1.5em;
  margin: 5px 0px 20px 0px;
}
.add-sheet-button {
}
